{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    
</head>
<body>
    <nav>
        <div class="nav-wrapper">

            <div class="nav-left">
                <a href="{% url 'post:home' %}">Home</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'auth_system:my-profile' %}">
                        {{ user.username }}
                    </a>

                    <form method="post" action="{% url 'auth_system:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'auth_system:login' %}">Sign In</a>
                    <a href="{% url 'auth_system:register' %}">Sign Up</a>
                {% endif %}
            </div>

            <div class="nav-right">
                {% if user.is_authenticated %}
                    <a class="direct-btn" href="{% url 'messages:thread-list' %}">
                        Direct
                    </a>
                {% else %}
                    <a class="direct-btn" href="{% url 'auth_system:login' %}">
                        Direct
                    </a>
                {% endif %}
            </div>

        </div>
    </nav>



    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div id="toast-container"></div>
    <script src="{% static 'blog/js/notifications.js' %}"></script>
    <style>
        #toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }

    .toast {
        background: #222;
        color: #fff;
        padding: 12px 16px;
        margin-top: 10px;
        border-radius: 8px;
        min-width: 220px;
        animation: fadeIn 0.3s;
    }

    .toast.hide {
        opacity: 0;
        transition: opacity 0.3s;
    }
    </style>
</body>
</html>