{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Authentication{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body class="auth-page">
    <div class="form-container">
        <h2>{% block header %}Authorization{% endblock %}</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block form_block %}{% endblock %}
    </div>
</body>
</html>