{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переглянути автора</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body style="background-color: #7CA4CA;">
    <div class="container">
        <div class="author-card">
            <h2>{{ author.name }}</h2>
            <p><strong>Bio:</strong> {{ author.bio }}</p>
            <p><strong>Email:</strong> {{ author.email }}</p>
        </div>

        <div class="posts-header">
            <h3>Пости автора:</h3>
            <a href="{% url 'post_list' %}" class="back-link">← Назад до списку постів</a>
        </div>

        <ul class="posts-list">
            {% for post in page_obj %}
                <li class="post-card">
                    <a href="{% url 'get_post_by_id' post.id %}">{{ post.title }}</a> — {{ post.created_at|date:"d.m.Y H:i" }}
                </li>
            {% empty %}
                <li>Автор не має постів.</li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
            {% endif %}

            <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Далі →</a>
            {% endif %}
        </div>

    </div>
    
    <script>
        const cards = document.querySelectorAll('.post-card');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.4,
            rootMargin: "0px 0px -60px 0px"
        });

        cards.forEach(card => observer.observe(card));
    </script>
</body>
</html>
